#p1{
    font: size 20px;
    line-height :1.5em;
}


#item1 li {
  float:left; 
  margin-left:40px;
}
 


#item2 {
  list-style-image: url('https://img.icons8.com/ios/50/26e07f/year-of-snake.png');

}






 #div2 {
  border-width: 3px;
  border-color: blue;
  border-style: dotted;

  border-left: 3px;
  border-left: 2px dotted;
  border-left: medium dashed green;
  border-right: 3px;
  border-right: 2px dotted;
  border-right: medium dashed green;
}
.myclass div{
  border: 5px red solid;
  border-radius:50px 100px 150px 200px;
}




#div2 {
  border-width: 3px;
  border-color: blue;
  border-style: dotted;
  

  border-left: 1px;
  border-left: 2px dotted;
  border-left: medium dashed green;
  border-right:medium dashed blue;
  border-top:medium dashed red;
  border-bottom:medium dashed yellow;
  }
.myclass2 div{
  border: 1px red solid;
  border-left: 1px green solid;
  border-right:1px red solid;
  border-top:1px blue solid;
  border-bottom:1px yellow solid;
}
 




img {
  width:300px;
  border-radius: 5px;
  float: right;
  margin: 5px;
}





.myclass3{
  width:240px;
  height:240px;
  overflow: scroll;
}